<div class="register">

<form class="form">
    <span class="title">Registrarse</span>
    <label for="username" class="label">Nombre</label>
    <input type="text" id="nombre" name="nombre" required="" class="input">
    <label for="username" class="label">Apellidos</label>
    <input type="text" id="username" name="username" required="" class="input">
    <label for="email" class="label">Email</label>
    <input type="email" id="email" name="email" required="" class="input">
    <label for="password" class="label">Password</label>
    <input type="password" id="password" name="password" required="" class="input">
    <button type="submit" class="submit" (click)="register()" >Registrarse</button>
    <p>¿Ya tienes una cuenta? <a href="">Inicia sesión</a></p>
  </form>
</div>
